html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



body{
    background:white;

}








.flat-card{
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
  border-radius: 10px;
  background-color: #e6e7eb;
  width: 300px;
  height: 100vh;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.flat-card .title{
  display: flex;
  /* border: solid; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.flat-card .title h1, .flat-card .title .flat-number{
  /* border: solid; */
  margin: 5px;
}
.flat-card .title .flat-number{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.vertical-line{
  height: 100%;
  background-color: black;
  width: 2px;
}
.flat-number{
  width: 70px;
  height: 40px;
  border-radius: 8px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
}
.flat-card .description{
  display: flex;
  width: 100%;
/*   border: solid; */
height: 30px;
margin: 20px 0;
align-items: center;
  justify-content: space-around;
}
.flat-card .description .rooms-number{
  /* border-right: solid;
  border-left: solid; */
  padding: 0 20px;
  margin-bottom: 10px;
}
.flat-card .pdf{
  width: 100%;
  background: rgb(218, 207, 207);
  border-radius: 15px;
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.flat-card .is-free{
  color: green;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.flat-card .price{
  width: 100%;
  background: green;
  border-radius: 15px;
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: white;
}
.another-flat-header{
  display: flex;
  /* border: solid; */
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.another-flat-header .flat-number{
  background-color: rgb(250, 120, 44);
  transform: scale(.7);
  font-size: 25px;
  color: white;
  font-weight: bold;
}


.housing-project{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    /* border: solid rgb(218, 207, 207); */
    border-radius: 3px; 
    /* min-width: 22%; */
    /* min-height: 20%; */
    height: 200px;
    width: 200px;
    z-index: 20;
    transition: .2s;
}
.housing-project img{
    width: 100%;
    height: 100%;
}

/* .zoom{
  transform: scale(4.5) translate(0, 20%); */
/* } */
.overlay{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .5; 
  z-index: 10;
  display: none;
  transition: .2s;
}
.another-flats{
  display: none;
  width: 100%;
  /* border: solid; */
  justify-content: space-between;
  margin-top: 20px;
}
.another-flats .flat{
  /* height: 200px; */
  /* border: solid blue; */
  background-color: beige;
  margin: 5px;
  border-radius: 10px;
}
.display-none{
  display: none;
}
.border-solid{
  border: solid red;
}
.line{
  height: 1px;
  width: 100%;
  /* border: solid; */
  background-color: rgb(209, 194, 194, .5);
  margin-top: 20px;
  margin-bottom: 20px;
}
.another-flats .sold{
  text-align: center;
  color: rgb(250, 120, 44);
}
.another-flats .button{
  background-color: rgb(250, 120, 44);
  text-align: center;
  width: 80%;
  border-radius: 5px;
  color: white;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 568px) { 
       .housing-project{
           /* border: solid red; */
           top: 20%;
          left: 60%;
           transform: scale(2.5) ;
           z-index:0;
           
       }
       .flat-card{
           left: 160px;
       }
      }
      @media (min-width: 768px) { 
        .housing-project{
          /* left: 50%; */
          top: 25%;
          transform: scale(3);
        }
        .flat-card{
          left: 420px;
          width: 800px;
    }
     .housing-project:hover{
      transform: translateY(60%) scale(4.5);
      cursor: pointer;
      z-index: 30;
     
    } 
    .housing-project:hover ~ .overlay{
      display: block;
      
    } 
    .another-flats{
      display: flex;
    }
  }